$color-dark-medium: #494646
$color-dark: #343232
//#2A2828 si jamais je décide de changer
$color-dark-deep: #151414

$color-white: #ffffff
$color-light: #fbfcff
$color-light-grey: #d1d1d1

$color-accent-light: #96ced4
$color-accent: #77d6de
$color-accent-dark: #58abb3

$color-error: #8A89C0

$color-gray: #808080

$color-success: #F3C8C3
$color-success-dark: #EBA199
