@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #151414;
  color: #fbfcff;
}
main {
  min-height: calc(100dvh - 60px);
}

@media screen and (min-width: 1921px) {
  html {
    font-size: 18px;
  }
}
@media screen and (max-width: 1920px) {
  html {
    font-size: 16px;
  }
}
@media screen and (max-width: 992px) {
  html {
    font-size: 15px;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 576px) {
  html {
    font-size: 13px;
  }
}
@media screen and (max-width: 375px) {
  html {
    font-size: 12px;
  }
}
