@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  background-color: #151414;
  color: #fbfcff;
}
main {
  min-height: calc(100dvh - 60px);
}

@media screen and (max-width: 992px) {
  html {
    font-size: 15px;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
