footer
    background-image: linear-gradient(to bottom, $color-dark-deep, $color-dark)
    color: $color-light
    .footerCopyright
        padding: 1rem
        font-size: 0.8rem
        color: $color-light-grey
        text-align: center
    p
        margin: 0.2rem 0
