$navHeight: 70px // Hauteur de la barre de navigation
$inputWidth: 15rem // Largeur de l'input de recherche

@keyframes fadeIn
    from
        opacity: 0
        transform: translateY(-20px)
    to
        opacity: 1
        transform: translateY(0px)
@keyframes  slideLeft
    from
        opacity: 0
        transform: translateX(20px)
    to
        opacity: 1
        transform: translateX(0px)
@keyframes grow
    from
        width: 0
    to
        width: $inputWidth

.navGlobal
    z-index: 100
    position: sticky
    top: 0
    display: flex
    justify-content: space-between
    align-items: center
    gap: 1rem
    background-color: $color-dark
    color: $color-light
    height: $navHeight
    .navLinksAndLogo
        display: flex
        align-items: center
        height: 100%
        .navLogo
            p
                font-size: 2rem
                font-weight: 600
                padding: 0 1rem
                span
                    color: $color-accent
        .navMobileLinks
            display: none
        .navLinks
            display: flex
            height: 100%
            > a
                height: 100%
                display: flex
                align-items: center
                font-size: 1.15rem
                padding: 0 0.9rem
                transition: background-color 200ms ease, color 200ms ease
            > a:hover
                background-color: $color-dark-deep
                color: $color-accent
            > a.active
                color: $color-accent
            .navCategoriesModal
                position: absolute
                top: $navHeight
                display: flex
                align-items: flex-start
                gap: 2rem
                background-color: $color-dark-deep
                padding: 1rem
                z-index: 10
                animation: fadeIn 200ms ease
                h3
                    font-size: 1.25rem
                    font-weight: 600
                .navCategoriesList
                    display: grid
                    grid-template-columns: repeat(4, 1fr)
                    li
                        opacity: 0
                        animation: slideLeft 200ms ease forwards
                        display: flex
                        align-items: flex-start
                        a
                            font-size: 1rem
                            width: 100%
                            padding: 0.5rem 0.75rem
                            white-space: nowrap
                            transition: background-color 200ms ease, color 200ms ease
                        a:hover
                            background-color: $color-dark
                            color: $color-accent
                    .navCategoriesSeeMore
                        a:hover
                            background-color: initial
            // .navLinksNew
            // .navLinksPopular
            .navLinksCategories
                span
                    cursor: pointer
                    height: 100%
                    display: flex
                    align-items: center
                    font-size: 1.15rem
                    padding: 0 1rem
                    transition: background-color 200ms ease, color 200ms ease
                span:hover
                    background-color: $color-dark-deep
                    color: $color-accent
                span.active
                    background-color: $color-dark-deep
                    color: $color-accent
                > svg
                    width: 1.5rem
                    height: 1.5rem
                    transform: translateY(2px)
    .navModalBackground
        position: fixed
        top: 0
        left: 0
        width: 100%
        height: 100%
        z-index: 9
    .navIcons
        display: flex
        cursor: pointer
        height: 100%
        > div
            display: flex
            align-items: center
            padding: 0 0.75rem
            height: 100%
            > svg
                width: 1.75rem
                height: 1.75rem
                transition: color 200ms ease
        > div:hover
            background-color: $color-dark-deep
            > svg
                color: $color-accent
        > div.active
            background-color: $color-dark-deep
            > svg
                color: $color-accent
        .navIconsSearch
            display: flex
            .navSearchInput
                width: $inputWidth
                height: 100%
                border: none
                outline: none
                padding: 0 0.5rem
                font-size: 1rem
                animation: grow 200ms ease
                transform-origin: right
        .navIconsCart
            position: relative
            .navCartModal
                width: 18rem
                position: absolute
                top: $navHeight
                right: 0
                background-color: $color-dark-deep
                color: $color-light
                padding: 1.2rem
                z-index: 100
                animation: fadeIn 200ms ease
                display: flex
                flex-direction: column
                gap: 0.75rem
                h3
                    font-size: 1.25rem
                    font-weight: 600
                    color: $color-accent
                p
                    font-size: 0.95rem
                    color: $color-light-grey
                    margin: 0
                a
                    display: inline-block
                    margin-top: 0.5rem
                    padding: 0.5rem 1rem
                    background-color: $color-accent
                    color: $color-dark-deep
                    border-radius: 5px
                    font-weight: bold
                    font-size: 0.95rem
                    text-align: center
                    transition: background-color 0.3s
                a:hover
                    background-color: $color-accent-dark
                    color: $color-dark
                .navCartItems
                    display: flex
                    flex-direction: column
                    gap: 0.75rem
                    max-height: 260px
                    overflow-y: auto
                    list-style: none
                    padding: 0 0.5rem 0 0
                    margin: 0
                    &::-webkit-scrollbar
                        width: 0.5rem
                    &::-webkit-scrollbar-thumb
                        background-color: $color-dark-medium
                        border-radius: 0.25rem
                    &::-webkit-scrollbar-track
                        background-color: $color-dark
                    li
                        display: flex
                        align-items: center
                        gap: 0.6rem
                        background-color: $color-dark
                        padding: 0.5rem
                        border-radius: 5px
                        cursor: pointer
                        position: relative
                        transition: background-color 0.2s
                        > div
                            flex: 1
                        .navCartRemove
                            padding: 0.5rem
                            font-size: 1.5rem
                            color: $color-light
                            border-radius: 10px
                            transition: background-color 0.2s, color 0.2s
                            cursor: pointer
                        .navCartRemove:hover
                            background-color: $color-dark-deep
                    li:hover
                        background-color: $color-dark-medium
                    img
                        width: 40px
                        height: 60px
                        object-fit: cover
                        border-radius: 4px
                    > div
                        display: flex
                        flex-direction: column
                        justify-content: space-between
                        font-size: 0.85rem
                        color: $color-light
                    p
                        margin: 0
                        font-weight: 500
                    .navCartItemPrices
                        display: flex
                        align-items: center
                        gap: 0.5rem
                        .finalPrice
                            color: $color-accent
                            font-weight: 500
                            font-size: 0.9rem
                        .oldPrice
                            color: $color-gray
                            font-size: 0.8rem
                            font-weight: 500
                            text-decoration: line-through
                        .gratuit
                            color: $color-error
                            font-weight: 500
                            font-size: 0.9rem
                    .navCartMore
                        font-size: 0.85rem
                        color: $color-light-grey
                        text-align: center
                .navCartTotal
                    position: relative
                    display: flex
                    justify-content: space-between
                    align-items: center
                    font-size: 0.9rem
                    color: $color-light-grey
                    margin-top: 0.5rem
                .navCartTotal::before
                    content: ""
                    position: absolute
                    top: -7px
                    width: 100%
                    height: 2px
                    background-color: $color-dark-medium
            .navIconsCartCount
                display: flex
                align-items: center
                justify-content: center
                width: 1.2rem
                height: 1.2rem
                position: absolute
                top: 15px
                right: 5px
                background-color: $color-accent
                color: $color-dark
                border-radius: 50%
                span
                    font-size: 0.75rem
                    font-weight: 600

@media screen and (max-width: 768px)
    .navGlobal
        .navLinksAndLogo
            .navLogo
                p
                    span
            .navMobileLinks
                display: flex
                align-items: center
                justify-content: center
                padding-inline: 0.75rem
                cursor: pointer
                svg
                    width: 1.5rem
                    height: 1.5rem
                .navMobileLinksContent
                    display: none
                    flex-direction: column
                    align-items: flex-start
                    opacity: 0
                    position: absolute
                    top: $navHeight
                    left: 0
                    background-color: $color-dark-deep
                    padding-block: 0.75rem
                    width: 200px
                    animation: fadeIn 200ms ease
                    &.active
                        display: flex
                        opacity: 1
                        a
                            display: flex
                            justify-content: space-between
                            width: 100%
                            padding: 0.5rem 0.75rem
                            &:hover
                                background-color: $color-dark
                                color: $color-accent
                .navMobileLinksCategoriesModal
                    width: 100%
                    background-color: $color-dark-deep
                    animation: fadeIn 200ms ease
                    .navMobileLinksCategoriesList
                        height: 300px
                        overflow-y: scroll
                        display: flex
                        flex-direction: column
                        li
                            a
                                font-size: 1rem
                                padding-inline: 0.75rem
                                white-space: nowrap
                                transition: background-color 200ms ease, color 200ms ease
                                &:hover
                                    background-color: $color-dark
                                    color: $color-accent
                    .navMobileLinksCategoriesList::-webkit-scrollbar
                        width: 0.5rem
                    .navMobileLinksCategoriesList::-webkit-scrollbar-thumb
                        background-color: $color-dark-medium
                        border-radius: 0.25rem
                    .navMobileLinksCategoriesList::-webkit-scrollbar-track
                        background-color: $color-dark
            .navLinks
                display: none
        .navIcons
            .navIconsSearch
                display: none
