$navHeight: 70px

@keyframes fadeIn
    from
        opacity: 0
        transform: translateY(-20px)
    to
        opacity: 1
        transform: translateY(0px)
@keyframes  slideLeft
    from
        opacity: 0
        transform: translateX(20px)
    to
        opacity: 1
        transform: translateX(0px)

.navGlobal
    display: flex
    justify-content: space-between
    align-items: center
    gap: 1rem
    background-color: $color-dark
    color: $color-light
    height: $navHeight
    .navLinksAndLogo
        display: flex
        align-items: center
        height: 100%
        .navLogo
            p
                font-size: 2rem
                font-weight: 600
                padding: 0 1rem
                span
                    color: $color-accent
        .navLinks
            display: flex
            height: 100%
            > a
                height: 100%
                display: flex
                align-items: center
                font-size: 1.15rem
                padding: 0 1rem
                transition: background-color 200ms ease, color 200ms ease
            > a:hover
                background-color: $color-dark-deep
                color: $color-accent
            > a.active
                color: $color-accent
            .navCategoriesModal
                position: absolute
                top: $navHeight
                display: flex
                align-items: flex-start
                gap: 2rem
                background-color: $color-dark-deep
                padding: 1rem
                z-index: 10
                animation: fadeIn 200ms ease
                h3
                    font-size: 1.25rem
                    font-weight: 600
                .navCategoriesList
                    display: grid
                    grid-template-columns: repeat(4, 1fr)
                    li
                        opacity: 0
                        animation: slideLeft 200ms ease forwards
                        display: flex
                        align-items: flex-start
                        a
                            font-size: 1rem
                            width: 100%
                            padding: 0.5rem 0.75rem
                            white-space: nowrap
                            transition: background-color 200ms ease, color 200ms ease
                        a:hover
                            background-color: $color-dark
                            color: $color-accent
                    .navCategoriesSeeMore
                        a:hover
                            background-color: initial
            .navLinksNew
            .navLinksPopular
            .navLinksCategories
                span
                    cursor: pointer
                    height: 100%
                    display: flex
                    align-items: center
                    font-size: 1.15rem
                    padding: 0 1rem
                    transition: background-color 200ms ease, color 200ms ease
                span:hover
                    background-color: $color-dark-deep
                    color: $color-accent
                span.active
                    background-color: $color-dark-deep
                    color: $color-accent
                svg
                    width: 1.5rem
                    height: 1.5rem
                    transform: translateY(2px)
    .navIcons
        display: flex
        cursor: pointer
        height: 100%
        > div
            display: flex
            align-items: center
            padding: 0 0.75rem
            height: 100%
            svg
                width: 1.75rem
                height: 1.75rem
                transition: color 200ms ease
        > div:hover
            background-color: $color-dark-deep
            svg
                color: $color-accent
        > div.active
            background-color: $color-dark-deep
            svg
                color: $color-accent
        .navIconsCart
            .navCartModal
                position: absolute
                top: $navHeight
                right: 0
                background-color: $color-dark-deep
                padding: 1rem
                z-index: 10
                animation: fadeIn 200ms ease
                h3
                    font-size: 1.25rem
                    font-weight: 600
                p
                    margin-bottom: 0.5rem
                a
                    display: block
                    margin-bottom: 0.5rem
        .navIconsUser
            .navAuthModal
                position: absolute
                top: $navHeight
                right: 0
                background-color: $color-dark-deep
                padding: 1rem
                z-index: 10
                animation: fadeIn 200ms ease
                h3
                    font-size: 1.25rem
                    font-weight: 600
                p
                    margin-bottom: 0.5rem
                a
                    display: block
                    margin-bottom: 0.5rem
